*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: black;
    font-family: 'Alegreya', serif;
    font-size: 1.3em;
    
}

.main-container {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

/* header style */
header {
    /* max-width: 1400px; */
    margin: 0px auto;
    /* align-items: center; */
    background-image: url('../images/background15.jpeg');
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-bottom: 20px;
    /* background-attachment: fixed; */
    /* background-size: 300px 1400px; */
}

/* logo-style */
.logo-image {
    width: 100%;
    height: 100%;
}

.logo {
    /* padding: 25px; */
    width: 50px;
    height: 50px;
}

.titleEl {
   text-align: center;
   padding-top: 100px;
}

/* .main-container{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    text-align: center;
}
    /* margin: auto; */


/* Pictures styling */
/* .container-row{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    flex-wrap: wrap;
   
}  */


.character{
    width: 25%;
    margin: 3.5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex: 40%; */
}

/* .character2{
    min-width: 50%;
    height: 500px; 
    margin: 5px auto;
    
} */

.hide{
    display: none;
}


.picture{
    width: 100%;
    height: 300px; 
}

.img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
} 

 .info {
     width: 100%;
     min-height: 50px;
     /* margin-top: 10px; */
     background-color: #000000;
     color: white;
     font-size: 16px;
     border: none;
     outline: none;
     border-radius: 10px;
     padding: 10px;
     text-align: center;
     /* margin: 40px; */
 }

 .result{
     color: white;
     background-color: black;
     font-size: 16px;
     width: 100%;
     border-radius: 5px;
     /* justify-content: center;
     align-items: center; */
     text-align: center; 
     /* margin: 40px; */
 } 
 .character-image {
     width: 50%;
 }
 @media screen and (max-width: 800px) {

    .character {
        width: 37%;
        margin: 5%;
    }
 }

 @media screen and (max-width: 600px) {
    .character {
        width: 90%;
        margin: 15%;
    }
 }